.layout {
    position: relative;
    margin-top: 300px;
    margin-bottom: 100px;
    min-height: 60vh;
}

.totop {
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 9995;
}

.totop:focus {
    color: #b1b1b1;
    outline: 2px solid #f7990b;
    background-color: #281a00e1;
}

@media screen and (max-width: 768px) {
    .layout {
        margin-top: 0px;
    }
}
