@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.jobs-img {
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.jobs-img-active {
    display: none;
}

.jobs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 99;
}
.jobs-list-active {
    position: fixed;
    top: 14%;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s;
    z-index: 999;
    animation: slide 1s ease-in-out;
}
.jobs-item {
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 0.6s ease-in-out;
}
.jobs-link-icon {
    display: inline;
    color: #00ff15;
    margin: 0 10px;
    width: 30px;
    animation: icon 1s infinite;
}
.jobs-item .active {
    color: rgb(255, 0, 0);
}

.jobs-item:hover .jobs-link:hover {
    color: rgb(255, 0, 0);
}
.jobs-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.jobs-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.jobs-header {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    text-align: start;
    margin-left: 20px;
    animation: slide 1s ease-in-out;
}
.jobs-header img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    animation: slide 1s ease-in-out;
}
button.jobs-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: font2;
    font-size: 25px;
    line-height: 1.4;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button.jobs-link:hover {
    color: rgb(255, 0, 0);
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
    transform: translateX(-15px);
    transition: 0.3s;
}
button.jobs-link.active {
    color: rgb(255, 0, 0);
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
    transform: translateX(-15px);
    transition: 0.3s;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.description h2 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: start;
}
.description p {
    margin: 0 10px;
    padding: 0;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: start;
    max-width: 1400px;
}
.description p::first-letter {
    padding-left: 35px;
}
.requirements {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.requirements h2 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: start;
}
.requirements ul {
    list-style: none;
    text-align: start;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.requirements ul li {
    margin: 0 10px;
    padding: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-weight: 300;
}
.requirements li::before {
    content: "•";
    color: rgb(255, 0, 0);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.requirements li::marker {
    color: rgb(255, 0, 0);
}

@keyframes icon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
@media screen and (max-width: 700px) {
    .jobs-header {
        font-size: 13px;
        margin: 20px 0;
        text-align: start;
        transition: all 0.3s ease-in-out;
    }
    .description h2 {
        font-size: 20px;
        margin-bottom: 5px;
        text-align: start;
    }
    .requirements h2 {
        font-size: 20px;
        margin-bottom: 5px;
        text-align: start;
    }
    .description p {
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: start;
        max-width: 1400px;
    }
    .requirements ul li {
        margin: 0 10px;
        padding: 0;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.5px;
        font-weight: 300;
    }
    .jobs-container img {
        width: 250px;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }
    .jobs-list-active {
        position: fixed;
        top: 12%;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        transition: 0.3s;
        z-index: 999;
    }
    button.jobs-link {
        font-size: 20px;
        line-height: 1.4;
        transition: all 0.3s ease-in-out;
    }
    .jobs-header img {
        width: 90px;
        height: 100%;
        object-fit: cover;

        transition: all 0.3s ease-in-out;
    }
}
