.banner-container {
    position: relative;
    max-width: 700px;
    max-height: 573px;
    margin: 0 auto;
}
.banner-container img {
    animation: fadeInImg 0.6s;
    animation-fill-mode: forwards;
}
.banner-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .banner-container {
        display: none;
    }
}
@keyframes fadeInImg {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
