.header-page {
    margin: 0;
    padding: 0;
    background-color: #000;
    z-index: 0;
    padding-top: 10px;
}
.header-banner {
    text-align: center;
    font-family: font1;
    font-size: 35px;
    font-weight: 600;
    color: #f79a0e;
    letter-spacing: 1.6px;
    z-index: 0;
    background-color: #000;
}
.header-banner span {
    color: #009058;
    padding-left: 10px;
}
.header-banner-text {
    text-align: center;
    font-family: font1;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.header-banner-text span {
    font-size: 20px;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .header-page {
        display: none;
    }
}
