.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home__video {
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
    max-width: 960px;
    animation: home 0.5s ease-out;
    animation-delay: 0s;
}
.home__video iframe {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .home__video {
        margin-bottom: 50px;
        width: 100%;
        max-width: 480px;
        height: 100%;
    }
    .home__video iframe {
        width: 100%;
        max-width: 480px;
    }
}

@keyframes home {
    0% {
        opacity: 0;
        transform: scale(0.1) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}
