.partner {
    background-color: #fff;
    overflow: hidden;
}
.partner p {
    font-size: 35px;
    font-family: font1;
    font-weight: 600;
    line-height: 1.5;
}

/* .partner .partner-container {
    padding: 0;
    margin: 0 auto;
} */
.partner-logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo3 {
    display: flex;
    justify-content: end;
    align-items: center;

    margin: 0 auto;
}
.partner-logo4 {
    display: flex;
    justify-content: end;
    align-items: center;
}
.partner-logo3-4 {
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 400px;
}
.partner-logo3-4-5 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.partner-logo-3-4 {
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    animation-name: slideInpathner;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}
.partner-logo-25 img {
    max-height: 80px;
    max-width: 80px;
}

.partner-logo1 img {
    width: 100%;
    margin: 5px;
    padding: 0;
    max-height: 150px;
}
.partner-logo2 img {
    width: 100%;
    margin: 5px;
    padding: 0;
    max-height: 150px;
}
.partner-logo-4 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-3 img {
    width: 160px !important;
    height: 100% !important;
}

.partner-logo-1 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-2 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-5 img {
    width: 130px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-6 img {
    width: 110px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-7 img {
    width: 70px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-8 img {
    width: 110px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-9 img {
    width: 90px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-10 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-11 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-12 img {
    width: 110px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-13 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-14 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-15 img {
    width: 130px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-16 img {
    width: 130px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-17 img {
    width: 155px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-18 img {
    width: 100px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-19 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-20 img {
    width: 70px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-21 img {
    width: 130px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-22 img {
    width: 100px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-23 img {
    width: 130px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-24 img {
    width: 90px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .partner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .partner p {
        font-size: 25px;
        font-weight: 550;
    }
    .partner-container {
        width: 100%;
    }
    .partner-logo1 img {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
    .partner-logo2 {
        margin-top: 10px;
    }
    .partner-logo2 img {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    .partner-logo3 {
        margin: 0;
        padding: 0;
    }
    .partner-logo4 {
        margin: 0;
        padding: 0;
    }

    .partner-logo-3-4 {
        margin: 0;
        padding: 0;
    }
    .partner-logo-3-4-1 {
        margin: 0;
        padding: 0;
    }
    .partner-logo-3-4-1 img {
        width: 100% !important;
        margin: 0;
        padding: 0;
        max-width: 400px;
    }

    .partner-logo-25 img {
        max-height: 45px;
        margin: 0;
        padding: 0;
    }
    .partner-logo-3 img {
        width: 180px !important;
        height: 100% !important;
    }
    .partner-logo-19 img {
        width: 50px !important;
        height: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes slideInpathner {
    from {
        opacity: 0;
        transform: translate3d(0, 130%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
