.partner {
    padding: 0;
    display: grid;
    background-color: #fff;
}
.partner-container {
    padding: 0;
    margin: 0;
}
.partner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow-x: scroll;
}
.partner-logo:last-child {
}

.partner-logo img {
    width: 100%;
    margin: 5px;
    padding: 0;
    max-height: 150px;
}
.partner-logo-4 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-3 img {
    width: 150px !important;
    height: 100% !important;
}

.partner-logo-1 img {
    width: 100px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-2 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-5 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-6 img {
    width: 100px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-7 img {
    width: 70px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-8 img {
    width: 110px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-9 img {
    width: 90px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-10 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-11 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-12 img {
    width: 100px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-13 img {
    width: 70px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-14 img {
    width: 110px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-15 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-16 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-17 img {
    width: 150px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-18 img {
    width: 90px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-19 img {
    width: 70px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-20 img {
    width: 60px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-21 img {
    width: 120px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-22 img {
    width: 90px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-23 img {
    width: 100px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-24 img {
    width: 80px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo-25 img {
    width: 70px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .partner {
        width: 100%;
        height: 100%;
    }
    .partner-container {
        padding: 0;
        margin: 0;
        width: 100%;
        display: inline-block;
    }
    .partner-logo:first-child {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 0.5fr));
        grid-template-areas: "logo1 logo2 logo3 logo4 logo5 logo6 logo7 logo8 logo9 logo10 logo11 logo12 logo13 logo14 logo15 logo16 logo17 logo18 logo19 logo20 logo21 logo22 logo23 logo24 logo25";
    }
    .partner-logo:last-child {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 0.5fr));
        grid-template-areas: "logo1 logo2 logo3 logo4 logo5 logo6 logo7 logo8 logo9 logo10 logo11 logo12 logo13 logo14 logo15 logo16 logo17 logo18 logo19 logo20 logo21 logo22 logo23 logo24 logo25";
        grid-gap: 10px;
    }
    .partner-logo img {
        margin: 0;
        padding: 0;
    }
}
