.Annoucement {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
}

.Annoucement-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
}
.Annoucement-1 h3 {
    font-family: "font1";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

.Annoucement-1 p {
    font-family: "font1";
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #e3e3e3;
    margin: 0;
    padding: 0;
    text-align: start;
}
.Annoucement-1 p span {
    font-weight: 300;
    font-size: 16px;
}

.Annoucement-1 img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .Annoucement {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .Annoucement-1 {
        width: 100%;
        margin-bottom: 0;
    }
    .Annoucement-1 h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .Annoucement-1 p {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .Annoucement-1 img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}
