.Studio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}
.Studio-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 20px;
}

.Studio-1-1-active {
    font-family: font2;
    font-size: 70px;
    letter-spacing: 1.5px;
    color: #ff8000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Studio-1-1-active span {
    font-size: 35px;
    margin: 0 12px;
    color: #ff8000;
}
.Studio-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
}
.Studio-1-active {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
}
.Studio-1-active h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #128b40;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.Studio-1-active p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1.1px;
    line-height: 1.5;
    color: #e3e3e3;
    margin: 0;
    padding: 0;
}
.Studio-1-active p span {
    font-weight: 600;
    font-size: 16px;
}

.Studio-1-active img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.Studio-2-active {
    display: block;
    margin-left: 40px;
}
