.news-container {
    padding: 0;
    padding-bottom: 250px;
    padding-top: 10px;
    font-family: "Signika", sans-serif !important;
}
.news-frist-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-height: 700px;
}
.news-frist-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}
.news-frist-col img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.news-second-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: auto;
}

.news-second-col hr {
    width: 100%;
    height: 2px;
    background-color: #ff7b00;
    border: none;
    margin: 10px 0;
    padding: 0;
}

.news-second-col p {
    font-size: 17px;
    color: #cac9c9;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.news-third-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

.news-third-col p {
    font-size: 16px;
    color: #cac9c9;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: end;
    padding-right: 10px;
}

.warp p {
    font-size: 16px;
    color: #cac9c9;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: start;
    padding-left: 10px;
}

.news-third-col p:last-child {
    font-size: 17px;
    color: #0091df;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    text-align: end;
    padding-right: 10px;
}

.news-third-col p:last-child:hover {
    color: #ea7a02;
    cursor: pointer;
}

.warp p:last-child {
    font-size: 17px;
    color: #0091df;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    text-align: start;
    padding-left: 10px;
}

.warp p:last-child:hover {
    color: #ea7a02;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .news-frist-col {
        padding: 0;
        max-height: 100%;
    }
    .news-frist-col img {
        width: 100%;
        height: 100%;
        padding: 5px;
        object-fit: cover;
    }

    .news-second-col {
        margin: 0 auto;
        width: 100%;
    }
    .news-second-col hr {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        border: none;
        margin: 10px 0;
        padding: 0;
    }
    .news-second-col p {
        font-size: 16px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .news-third-col p {
        font-size: 15px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-right: 10px;
    }
    .news-third-col p:last-child {
        font-size: 17px;
        color: #0091df;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        padding-right: 10px;
    }
    .news-third-col p:last-child:hover {
        color: #ea7a02;
        cursor: pointer;
    }
    .warp p {
        font-size: 15px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-left: 10px;
    }
}
@media screen and (max-width: 992px) {
    .news-frist-col {
        padding: 0;
        max-height: 100%;
    }
    .news-frist-col img {
        width: 100%;
        height: 100%;
        padding: 5px;
        object-fit: cover;
    }

    .news-second-col {
        margin: 0 auto;
        width: 100%;
    }
    .news-second-col hr {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        border: none;
        margin: 10px 0;
        padding: 0;
    }
    .news-second-col p {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .news-third-col p {
        font-size: 15px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-right: 10px;
    }
    .news-third-col p:last-child {
        font-size: 17px;
        color: #0091df;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        padding-right: 10px;
    }
    .news-third-col p:last-child:hover {
        color: #ea7a02;
        cursor: pointer;
    }
    .warp p {
        font-size: 15px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-left: 10px;
    }
}
