@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'font1';
    src: url('/font/file_nb.woff') format('woff');
}
@font-face {
    font-family: 'font2';
    src: url('/font/file_B.woff') format('woff');
}

/* html {
    scroll-behavior: smooth;
} */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
}
body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    font-family: 'Signika', sans-serif;
}
a {
    text-decoration: none;
    list-style: none;
}
li {
    list-style: none;
}
header.ontop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000000;
}

.ontop-magin {
    /* margin-top: 165px; */
    transform: translateY(163px);
    transition: all 0.5s ease-in-out;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: #000000;
    transform-origin: 0%;
    z-index: 9999;
    margin: 0;
    padding: 0;
}
progress::-webkit-progress-value {
    background: red;
}
progress::-moz-progress-bar {
    background: red;
}
progress {
    color: red;
}
header {
    background-color: #000;
}
.header-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 573px;
    z-index: 999;
}
.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.layout-main {
    margin: 0 auto;
    padding-top: 573px;
}

@media screen and (max-width: 768px) {
    .header-main {
        position: fixed;
        padding-top: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }
    .header-sticky {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }

    .layout-main {
        /* margin-top: 400px; */
        margin: 0 auto;
        padding-top: 140px;
    }
}
