@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
@font-face {
    font-family: "font1";
    src: url("/font/file_nb.woff") format("woff");
}
@font-face {
    font-family: "font2";
    src: url("/font/file_B.woff") format("woff");
}
html {
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    font-family: "Signika", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Signika", sans-serif;

    background-color: #000;
    color: #d8d5d5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header.ontop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
}
.ontop-magin {
    /* margin-top: 165px; */
    transform: translateY(163px);
    transition: all 0.5s ease-in-out;
}
a {
    list-style: none;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: #000000;
    transform-origin: 0%;
    z-index: 9999;
    margin: 0;
    padding: 0;
}
progress::-webkit-progress-value {
    background: red;
}
progress::-moz-progress-bar {
    background: red;
}
progress {
    color: red;
}
.container {
    margin: 0;
    padding: 0;
}

.anim-left-in {
    animation: slideInL 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-right-in {
    animation: slideInR 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-left-out {
    animation: slideOutL 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-right-out {
    animation: slideOutR 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-zoom-out {
    animation: zoomOut 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-zoom-in {
    animation: zoomIn 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-translate-in {
    animation: translateIn 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.anim-translate-out {
    animation: translateOut 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.mount {
    animation: mountIn 0.4s forwards;
    transition: all 0.4s ease-in-out;
}
.mount:hover {
    filter: drop-shadow(0px 0px 5px #17f031);
    animation: mount 0.5s forwards;
    transition: all 0.4s ease-in-out;
}
.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in, visibility 0.5s;
}
.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in, visibility 0.5s;
}

@keyframes slideInR {
    0% {
        opacity: 0;
        transform: translateX(200%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
@keyframes slideInL {
    0% {
        opacity: 0;
        transform: translateX(-200%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
@keyframes slideOutR {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateX(200%) scale(0);
    }
}
@keyframes slideOutL {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateX(-200%) scale(0);
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes translateIn {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes translateOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-200%);
    }
}

@keyframes mount {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    30% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}
@keyframes mountIn {
    0% {
        opacity: 0.4;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 320px) and (max-width: 1440px) {
    html {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
    }
}
